{% extends 'base.html' %}
{% load static %}

{% block content  %}


<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
    <div class="container">
        {% if 'search' in request.path %}
          <h2 class="title-page">arama Store</h2>
        {% else %}
          <h2 class="title-page">Our Store</h2>
        {% endif %}
        
    </div> <!-- container //  -->
    </section>
    <!-- ========================= SECTION INTRO END// ========================= -->

    
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <div class="container">
    
    <div class="row">
        <aside class="col-md-3">
            
    <div class="card">
        <article class="filter-group">
            <header class="card-header">
                <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
                    <i class="icon-control fa fa-chevron-down"></i>
                    <h6 class="title">Kategoriler</h6>
                </a>
            </header>
            <div class="filter-content collapse show" id="collapse_1" style="">
                <div class="card-body">
                    
                    <ul class="list-menu">
                        <li><a href="{% url 'store' %}">Tüm ürünler</a></li>
                        {% for category in link %}
                    <li><a href="{{category.get_url}}">{{category.category_name}}</a></li>
                       {% endfor %}
                    </ul>
    
                </div> <!-- card-body.// -->
            </div>
        </article> <!-- filter-group  .// -->
    </div>
    
        </aside> <!-- col.// -->
        <main class="col-md-9">
    
    <header class="border-bottom mb-4 pb-3">
            <div class="form-inline">
                <span class="mr-md-auto"><b> {{urun_count}}</b> ürün bulundu </span>
                
            </div>
    </header><!-- sect-heading -->
    
    <div class="row">
        {% if urunler %}
        {% for urun in urunler %}
        <div class="col-sm-3">
            <figure class="card card-product-grid">
                <div class="img-wrap"> 
                    
                    <a href="{{urun.get_url}}"><img src="{{urun.images.url}}" width="100" height="100"></a>
                    
                </div> 
                <figcaption class="info-wrap">
                    <div class="fix-height">
                        <a href="{{urun.get_url}}" class="title">{{urun.urun_adi}}</a>
                        <div class="price-wrap mt-2">
                            <span class="price">{{urun.fiyat}} TL</span>
                            
                        </div> <!-- price-wrap.// -->
                    </div>
                    <a href="{{urun.get_url}}" class="btn btn-block btn-primary">Sepete ekle </a>
                </figcaption>
            </figure>
        </div> <!-- col.// -->
        {% endfor %}
        {% else %}
        <div>
            <h2>Sonuç bulunamadı</h2>
        </div>
        {% endif %}
    </div> <!-- row end.// -->
    
    
    <nav class="mt-4" aria-label="Page navigation sample">
        {% if urunler.has_other_pages %}
          <ul class="pagination">
                {% if urunler.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{urunler.previous_page_number}}">Geri</a></li>
                {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">Geri</a></li>
                {% endif %}
    
                {% for i in urunler.paginator.page_range %}
                    {% if urunler.number == i %}
                    <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                    {% endif %}
            {% endfor %}
    
                {% if urunler.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{urunler.next_page_number}}">İleri</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">İleri</a></li>
                {% endif %}
          </ul>
        {% endif %}
    </nav>
    
        </main> <!-- col.// -->
    
    </div>
    
    </div> <!-- container .//  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
    {% endblock  %}
